<h1>Register</h1>

<form>
	<fieldset>
		<legend>Your Email</legend>
		<label>
			Email:
			<input type="email" name="email">
		</label>
	</fieldset>
	<fieldset>
		<legend>Your Name</legend>
		<label>
			Name:
			<input type="text" name="name">
		</label>
	</fieldset>
	<fieldset>
		<legend>Password</legend>
		<label>
			Password:
			<input type="password" name="password">
		</label>
	</fieldset>
	<fieldset>
		<legend>Password(confirm)</legend>
		<label>
			Password:
			<input type="password" name="cpassword">
		</label>
	</fieldset>
	<p>
		<input type="submit" value="Register Now">
	</p>
</form>